body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #34bfc4;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    width: 100%;
    border-bottom: 2px solid #0300a0;
}

header > h1, header > h2 {
    color: #ffffff; 
    font-size: 15px;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #34bfc4;
    color: #000000;
    font-size: 15px;
    width: 100%;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
    color: #ff0000;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

h1 {
    color: #000000;
    font-size: 20px;
}

h2, h3, h4, h5, h6 {
    color: #000000;
    font-size: 20px;
}

p {
    color: #000000;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

label {
    margin-top: 15px;
    color: #000000;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 15px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px;
    background-color: #000000;
    color: #f1f500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0300a0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #34bfc4;
    color: #000000;
    font-size: 15px;
    width: 100%;
    border-top: 2px solid #0300a0;
}

a:link, a:visited {
    color: #000000;
    font-size: 20px;
}

a:hover {
    color: pink;
}

img {
    width: 10%;
    height: 10%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-size: 20px;
}

.container img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
}

.jpg {
    width: 10%;
    height: 10%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
}

.jpg img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
}

b {
    color: #0300a0;
    font-size: 20px;
}

li, ul, ol {
    color: #000000;
    font-size: 20px;
}

.package {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #34bfc4;
}

.package h2 {
    color: #000000; 
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #450769;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}