body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: center;

}

header {
    background-color: #34bfc4;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    width: 100%;
    top: 0;
    border-color: #0300a0;
    margin: 0 15px;
    position: center;
} 

header > h1, header > h2 {

    color: #ffffff;
    font-size: 15px;
    position: center;
} 
 
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0;
    position: center;
}

nav a:hover {
    text-decoration: underline;
    color: #ff0000;
    
}

nav {
    text-align: center; 
    padding: 10px;
    background-color: #34bfc4;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 100%;
    top: 0;
    position: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    position: center;
}

h1 {

    color: #000000;
    font-size: 20px;
    position: center;
}

h3 {
    color: #000000;
    font-size: 15px;
    position: center;
}

p {
    color: #000000;
    font-size: 15px;
    position: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    position: center;
}

label {
    margin-top: 15px;
    color: #000000;
    position: center;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-size: 15px;
    position: center;
}

input[type="submit"] {
    padding: 10px;
    background-color: #000000;
    color: rgb(241, 245, 0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    position: center;
}

input[type="submit"]:hover {
    background-color: #0300a0;
    font-size: 15px;
    position: center;
}

input[type="reset"] {
    padding: 10px;
    background-color: #000000;
    color: rgb(241, 245, 0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
    position: center;
}

input[type="reset"]:hover {
    background-color: #0300a0;
    font-size: 15px;
    position: center;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #34bfc4;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 100%;
    bottom: 0;
    position: bottom;
    text-decoration: underline;
    text-wrap: balance;
    margin: 10px;
}


br {
    color: #000000;
    text-align: center;
    text-decoration: wavy;
    text-wrap: balance;
    padding: 10px;
    margin: 10px; 
    position: center;
    width: 100%;
    font-size: 15px;
}

a:link {
    color:rgb(0, 0, 0);
    font-size: 20px;
}



a:visited {
    color:rgb(0, 0, 0);
    font-size: 20px;
}

a:hover {
    color: pink;
    font-size: small;
    font-size: 20px;

}

a {
    font-size: 20px;
    color: rgb(0, 0, 0);
    position: center;
}


img {
    width: 10%;
    height: 10%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    position: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-size: 20px;
    position: center;
}

.container img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    position: center;
}



.jpg {
    width: 10%;
    height: 10%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    position: center;
}

.jpg img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block; 
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    position: center;
}

b {
    color: #0300a0;
    font-size: 20px;
    mask-position: right;
    position: center;
}

h2 {
    color: #000000;
    font-size: 20px;
    position: center;
}

h3 {
    color: #000000;
    font-size: 20px;
    position: center;
}

h4 {
    color: #000000;
    font-size: 20px;
    position: center;
}

h5 {
    color: #000000;
    font-size: 20px;
    position: center;
}

h6 {
    color: #000000;
    font-size: 20px;
    position: center;
}

li {
    color: #000000;
    font-size: 20px;
}

ul {
    color: #000000;
    font-size: 20px;
}
 
ol {
    color: #000000;
    font-size: 20px;
}

.package {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #ffffff;
    position: center;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: center;
}

.button:hover {
    background-color: #450769;
    position: center;
}

